.FoodItem{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 2px #fff;
    transition: 0.3s;
    animation: fadeIn 1s ;
}

.FoodItemImage{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.FoodItemInfo{
    padding: 20px;
    background-color: #fff;
}

.FoodItemName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color : #111
}

.FoodItemName p{
    font-size: 20px;
    font-weight: 500;
}

.FoodItemName img{
    width: 70px;
}

.FoodItemDescription{
    color: #676767;
    font-size: 12px;
}

.FoodItemPrice{
    color: #eded05;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.FoodItemImageContainer{
    position: relative;
}

.FoodItemImageContainer .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    border-radius: 50%;    
}

.addButton{
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: none;
    background: #008e46;
    color: #fff;
    padding: 8px 12px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
}

.addButton:hover{
    filter: brightness(0.95);
}

.FoodItemCount{
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.FoodItemCount img{
    width: 30px;
}