.Cart{
    margin-top: 100px;
    color : #111;
}

.CartItemsTitle{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);
}

.CartItemsItem {    
    margin: 10px 0px;
    color: #111;
}

.CartItemsItem img{
    width: 50px;
}

.Cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.CartItemsItem .Cross{
    cursor: pointer;
}

.CartBottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}

.CartTotal{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    color: #111;
}

.CartTotalDetails{
    display: flex;
    justify-content: space-between;
    color: #111;
}

.CartTotal hr{
    margin: 10px 0px;
}

.CartTotal button{
    border: none;
    color: black;
    background-color: #eded05;
    width: max(18vw,250px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width:750px){
    .CartBottom{
        flex-direction: column-reverse;
    }
}