@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: #fff;
  color: #111;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}



@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
